/**
	style.css
	CSS de base de l'appli
*/

body {
	padding-top: 70px;
}

.site_title {
	font-family: 'Audiowide', cursive;
}

.trad_acc {
	font-size : x-small;
	font-style:  italic;
	float : right;
	display : block;
	bottom : 0;
	position : relative;
}

.div_menu {
	margin-top : -230px;
}

.div_menu > li {
	margin-right : 50px;
}

.container {
	margin-bottom : 50px;
}

.section_photo {
	margin-bottom: 20px;
}

.photo_accueil {
	float : right;
}

.photo_accueil:hover {
	float : right;
	border : solid black 2px;
}

.titre_defis {
	font-family: 'Merriweather Sans', sans-serif;
}

.score_matchs {
	color : black;
	text-decoration : none;
	font-family: 'Montserrat', sans-serif;
}

/***************************************************************************************************************
* 							MENU
***************************************************************************************************************/
.li-notifs {
	padding-left: 10px;
	padding-top: 10px;
}

.li-notifs > span > a > h5 {
	color : black;
	text-decoration : none;
	font-family: 'Exo', sans-serif;
}

/* Photo de profil dans le menu */
.photo_profil_menu {
	margin-right: 5px;
	margin-top: 10px;
}

/* Photo de profil dans le menu par défaut */
.photo_profil_menu_default {
	margin-right : 5px;
}


/***************************************************************************************************************
* 							RAPPORT MATCH
***************************************************************************************************************/
.rapport-match {
	margin-top : 30px;
}

.img-profil-rapport {
	margin-bottom : 20px;
}

.thumbnail-profil {
	height : 160px;
	margin-bottom : 20px;
}

.center {
	text-align : center;
}

.club {
	height : 140px;
}

.club > img {
	position : absolute;
	bottom : 0;
}

.club > h2 {
	display : block;
	bottom : 0;
	position : absolute;
	vertical-align : middle;
	text-align: center;
	margin : 0 auto;
}

.valid_match {
	margin-top : 20px;
}

.match_club_defieur > img {
	float : left;
}

.match_club_defier > img {
	float : right;
}

.username {
	font-family: 'Hammersmith One', sans-serif;
	font-size : 20px;
}

.timeline_logo_club {
	position : relative;
	top : 50%;
	display: block;
	margin-left : auto;
	margin-right : auto;
	/*vertical-align: middle;*/
	margin-top : -50px;
}

.logo_buteurs {
	position : relative;
	float : left;
	left : 50px;
	top : 10px;
}

.nb_like {
	margin-top : 10px;
}

.buteurs_view {
	font-family: 'Fugaz One', cursive;
}

/***************************************************************************************************************
* 							DEFIS
***************************************************************************************************************/
.defis_club {
	height : 40px;
}

.defis_club > img {
	position : absolute;
	bottom : 0;
}

.score_defis {
	font-family: 'Montserrat', sans-serif;
}

.btn-rapport {
	margin-top : 10px;
}

.list-unstyled {
	padding-left : 0;
	list-style : none;
}

.list-unstyled > li {
	/*display : inline-block;*/
	height : 30px;
	margin-bottom : 20px;
	border-left : solid black 1px;

}

.menu-defis {
	margin-bottom : 30px;
}

/***************************************************************************************************************
* 							PROFIL
***************************************************************************************************************/

.btn-fileupload {
	margin-top: 10px;
}

.score-V {
	color : #5cb85c;
}

.score-N {
	color : #777;
}

.score-D {
	color : #d9534f;
}

.btn-ami, .btn-acp-ami {
	float : right;
}

.club_pref {
	float : right;
}

.logo_profil {
	position : relative;
	top : 20%;
	right : 10%;
}




