/**
	style.css
	CSS de base de l'appli
*/

.div_menu {
	margin-top : -230px;
}

.div_menu > li {
	margin-right : 50px;
}

.container {
	margin-bottom : 50px;
}

.section_photo {
	margin-bottom: 20px;
}





